@use '../../sass/index' as *;

.header {
  padding-top: 3rem;
  &--container {
    width: 60vw;
    height: 15vh;
    margin: auto;
    @include flex(center, space-between);
    border: 3px solid $header-outline;
    padding: 1rem;
    border-radius: 8px;

    @include mobile {
      width: 85vw;
      height: 10vh;
    }
  }
}