@use '../../sass' as *;

.match {
  @include flex();
  position: relative;
  height: 70vh;
  width: 100vw;

  &--player, &--computer {
    h5 {
        position: absolute;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        font-size: 28px;
        color: #fff;
        top: 100px;
        left: 13vw;
        text-transform: uppercase;
        opacity: 0;
        letter-spacing: 1px;
        animation: show 10s 1s;

        @include large {
          font-size: 24px;
          top: 270px;
          left: 10vw;
        }

        @include mobile {
          font-size: 18px;
          left: 10vw;
          top: 35vh
        }

    }

  }

  &--player {
    @include flex();
    z-index: 2;

    &>.item.choose {
      animation: startGame 2s;
      transform: scale(1.5) translate(-20vw, 0%) !important;
      @include large {
        animation: startGameDesktop 2s;
        transform: scale(1.5) translate(-18vw, -60%) !important
      }
    }
  }

  &--computer {
    @include flex();
    z-index: 1;

    &>.item.choose {
      animation: startGameComputer 2s;
      transform: scale(1.5) translate(20vw, 0%) !important;
      @include large {
        animation: startGameComputerDesktop 2s;
        transform: scale(1.5) translate(18vw, -60%) !important
      }
    }

    h5{
      left: 70vw;
      @include large {
        left: 60vw;
        top: 270px;
      }
      @include mobile {
        font-size: 18px;
        left: 57vw;
        top: 35vh
      }
    }

  }

  &--menu {
    position: absolute;
    @include flex();
    flex-direction: column;
    animation: show 3s;
    z-index: 2;

    @include large {
      bottom: 80px;
    }

    h2 {
      font-size: 54px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #fff;
    }

    button {
      margin-top: 1rem;
      border: none;
      padding: 1rem 3rem;
      font-size: 24px;
      border-radius: 8px;
      font-family: $font-family;
      text-transform: uppercase;
      color: $dark-text;
      cursor: pointer;
      transition: 1s;

      &:hover {
        background-color: rgba(255,255,255, 0.8);
      }

      &:active {
        background-color: rgba(255,255,255, 0.7);
      }
    }
  }
}

@keyframes startGame {
  0% {
    transform: scale(1.5) translate(0%, 0%);
  }
  50% {
    @include desktop {
      transform: scale(1.5) translate(0%, -60%);
    }
  }
  100% {
    transform: scale(1.5) translate(-20vw, 0%);
    @include desktop {
      transform: scale(1.5) translate(-18vw, -60%);
    }
  }
}

@keyframes startGameDesktop {
  0% {
    transform: scale(1.5) translate(0%, 0%);
  }
  50% {
      transform: scale(1.5) translate(0%, -60%);
  }
  100% {
      transform: scale(1.5) translate(-18vw, -60%);
  }
}

@keyframes startGameComputer {
  0% {
    transform: scale(1.5) translate(0%, 0%);
  }
  100% {
    transform: scale(1.5) translate(20vw, 0%);
  }
}

@keyframes startGameComputerDesktop {
  0% {
    transform: scale(1.5) translate(0%, 0%);
  }
  50% {
    transform: scale(1.5) translate(0%, -60%);
  }
  100% {
    transform: scale(1.5) translate(18vw, -60%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}